# chapter-1
/docker/redis-data

# chapter-2
# /golang/example/websocket
# /golang/example/broadcast

# chapter-3
# /golang/example/redis
# /golang/example/ws-redis

# chapter-4
# /golang/example/logic-bidding

# chapter-5
# /golang/example/atomic-bidding

# chapter-6
# /golang/example/persistence-reliability

# chapter-7
/golang/example/scaling

# chapter-8
/golang/example/scaling-worker

/golang/example/consumer-group
/golang/example/cqrs
/golang/example/failover
/golang/example/observability
/golang/example/sharding
/golang/example/snapshot
