# chapter-1
/docker/redis-data

# chapter-2
# /golang/example/websocket
# /golang/example/broadcast

# chapter-3
# /golang/example/redis
# /golang/example/ws-redis

# chapter-4
# /golang/example/logic-bidding

# chapter-5
# /golang/example/atomic-bidding

# chapter-6
# /golang/example/persistence-reliability

# chapter-7
# /golang/example/scaling

# chapter-8
# /golang/example/scaling-worker

# chapter-9
# /golang/example/consumer-group

# chapter-10
# /golang/example/snapshot

# chapter-11
# /golang/example/sharding

# chapter-12
# /golang/example/failover

# chapter-13
/golang/example/cqrs

# chapter-14
/golang/example/observability


